@import 'cssstyle';

$color: #fff;

$headerColor: #4A4A4A;
$headerHeight: 50px;

body {
  background: $color;
}

@include component(app) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

@include component(header) {
  background: $headerColor;
  height: $headerHeight;
  text-align: center;

  @include part(title) {
    display: inline-block;
    color: $headerColor;
    background: url(/images/AlDente.png) 50% 50% no-repeat;
    height: $headerHeight;
    width: 194px;
  }

  @include part(user) {
    position: absolute;
    top: 0;
    right: 0;

    img {
      $imageHeight: $headerHeight - 10;
      height: $imageHeight;
      width: $imageHeight;
      border-radius: $imageHeight / 2;
      margin: 5px 10px;
    }
  }

}
